body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 1000px;
    margin: auto;
    font-family: 'Crimson Text', serif;
    font-size: 1.1em;
}

#block {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 10px;
}

#block p {
    font-size: 30px;
    margin: 0;
    font-family: 'Alegreya Sans', sans-serif;
}

#grid1,
#grid2,
#top {
    background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.7) 100%), radial-gradient(circle at center, rgba(255, 255, 255, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%);
    background-blend-mode: screen, multiply;
    background-size: cover;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 20px;
    margin: 10px 20px;
    padding: 20px;
}

#top {
    font-size: 50px;
    text-align: center;
    color: #00fffd;
    font-family: 'Alegreya Sans SC', sans-serif;
}